.body {
  background-color: #3e3e3e;
  background-image: url('../images/background-full.png');
  background-position: 0px 0px;
  background-size: contain;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}


.wrapper {
  display: flex;
  max-width: 479px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  /* padding-bottom: 10px; */
  height: 100vh;

}

.hidden {
  display: none;
}

.number-select {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 214px;
  height: 245px;
  margin: 0 auto;
  margin-top: 20px;
}

.image {
  width: 214px;
  height: 245px;
  margin-right: auto;
  margin-left: auto;
}

.number-selected {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0px auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: Nunito, sans-serif;
  font-size: 200px;
  font-weight: 900;
  text-align: center;
}

.menu-button {
  height: 50px;
  width: 50px;
  width: auto;
  margin-top: 10px;
  margin-left: 5px;
  padding: 10px;
  border-radius: 100px;
  background-image: linear-gradient(90deg, #f2709c, #ff9472);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
   position: relative;
}

.menu-button h3 {
  /* height: 30px;
  width: 30px; */
  margin: 0;
  line-height: 1;
  text-align: center;

}

#easy-mode-off {
  position: absolute;
}



.level-indicator {
  position: absolute;
  left: -10%;
  top: 14%;
  right: auto;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 216px;
  height: 124px;
  align-items: baseline;

}

.level-box-title {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 1;
  font-weight: 900;
  text-align: center;
}

.level-box-text {
  margin-bottom: -8px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Nunito, sans-serif;
  font-size: 10px;
  font-weight: 900;
}

.level-indicator-box {
  position: absolute;
  left: -77%;
  top: -56%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.bold-text {
  color: #fff;
}

.divider {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.lives-count {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.live-img-box {
  padding-right: 2px;
}

.heading-3 {
  font-family: Nunito, sans-serif;
  font-size: 19px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.number-selector {
  overflow-y: scroll;
}


.number-selector-container {
  display: -ms-grid;
  display: grid;
  max-width: 317px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 9px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-radius: 10px;
  background-color: hsla(0, 0%, 100%, 0.02);
}

.number-box {
  width: 54px;
  height: 28px;
  margin-top: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f2709c), to(#ff9472));
  background-image: linear-gradient(90deg, #f2709c, #ff9472);
  color: #fff;
  font-weight: bold;
}

.number-span {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Nunito, sans-serif;
  color: #fff;
  font-size: 17px;
  text-align: center;
}

.audio-controller {
  position: absolute;
  z-index: 99;
}

.audio-controller button {
  padding: 10px;
}


@font-face {
  font-family: 'Nunito variablefont wght';
  src: url('../fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito variablefont wght';
  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Bold.ttf') format('truetype'), url('../fonts/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-BoldItalic.ttf') format('truetype'), url('../fonts/Nunito-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}