body {
    background-color: #3E3E3E;
    background-image: url('/assets/img/bg-vector.png');
    background-repeat: repeat;
    color: white;
}

.wrapper {
    width: 500px;
    border: white solid 1px;
    height: 100%;
}


.number-box {
    height: 28px;
    background: linear-gradient(90deg, #F2709C 0%, #FF9472 100%);
    border-radius: 10px;
    text-align: center;
    color: white;
    border: 0!important;
}

.number-box:hover {
    opacity: 0.8;
}

.number-box-striked {
    height: 28px;
    background: black;
    border-radius: 10px;
    text-align: center;
    text-decoration: line-through;
    color: white;
    border: 0!important;

}